body, html {
    margin: 0px;
    padding: 0px;
}

#introcanvas {
    position: absolute;
}

#canvasdiv {
    z-index: -100;
}

#top {
    height: 100vh;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.floatingbutton {
    width: 200px;
    height: 50px;
    display: block;
    border-radius: 9999px;
    outline: none;
    border: none;
    font-family: 'avenir';
    font-weight: 900;
    color: white;
    font-size: 15px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.hovershadow {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.hovershadow:hover {
    box-shadow: 0px 0px 21px -1px rgba(0, 0, 0, 0.32);
    transition: box-shadow 0.3s ease-in-out;
}

.hovershadow:hover::after {
    box-shadow: inherit;
    transition: box-shadow 0.3s ease-in-out;
}

#projects, #about {
    width: 100%;
    height: 100vh;
}

.groovy {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    letter-spacing: 3px;
}

#title {
    color: white;
}

.big {
    font-family: avenir;
    font-weight: 900;
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#projects {
    padding-top: 15px;
}

#projects {
    width: 80%;
    margin: 0 auto;
}

#projectstop {
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 10%;
    transition: 0.3s ease-in-out all;
    height: 96px;
    /* background-color: red; */
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(245, 245, 245) !important;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    /* border-bottom: 1px solid black; */
}

.bgwhite{
    background-color: white;
}

.sticky+#projects {
    padding-top: 116px;
}