body, html {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("background-lighter.png");
    background-repeat: repeat;
}

#introcanvas {
    position: absolute;
}

#canvasdiv {
    z-index: -100;
}

#top {
    height: 100vh;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.floatingbutton {
    width: 200px;
    height: 50px;
    display: block;
    border-radius: 9999px;
    outline: none;
    border: none;
    font-family: 'avenir';
    font-weight: 900;
    color: white;
    font-size: 15px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.hovershadow {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.hovershadow:hover {
    box-shadow: 0px 0px 21px -1px rgba(0, 0, 0, 0.32);
    transition: box-shadow 0.3s ease-in-out;
}

.hovershadow:hover::after {
    box-shadow: inherit;
    transition: box-shadow 0.3s ease-in-out;
}

#projects, #about {
    width: 100%;
}

#about {
    height: 100vh;
}

.groovy {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    letter-spacing: 3px;
}

#title {
    color: white;
}

.big {
    font-family: avenir;
    font-weight: 900;
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#projects {
    padding-top: 0px;
}

#projects {
    width: 80%;
    margin: 0 auto;
}

#projectstop {
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 10%;
    transition: 0.3s ease-in-out all;
    height: 96px;
    z-index: 99;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(245, 245, 245) !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    /* border-bottom: 1px solid black; */
}

.bgwhite {
    background-color: white;
}

.sticky+#projects {
    padding-top: 101px;
}

#projects, .other {
    font-family: sans-serif;
}

ul {
    list-style: none;
    /* Remove default bullets */
}

.proj {
    margin-top: 35px;
    background-color: rgb(245, 245, 245) !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    padding: 15px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.projtable {
    width: 100%;
    padding: 0px;
    border-collapse: collapse;
}

.projtable td {
    width: 50%;
}

.proj:hover, .card:hover, .horizontal-scroll-button:hover {
    transform: scale(1.005) !important;
    z-index: -2;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.proj h1, .proj h5 {
    margin: 0 auto;
}

.proj h5 {
    color: darkgray;
}

.projimage {
    width: 100%;
    border-radius: 3px;
}

.other {
    margin-top: 50px;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    /* display: table-cell */
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.scrolling-wrapper {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.card {
    display: inline-block;
    width: 300px;
    height: 200px;
    background-color: rgb(245, 245, 245) !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    transition: all .2s ease-in-out;
}

.card.firstcard {
    margin-left: 10%;
}

.card:last-child {
    margin-right: 10%;
}

.otherhead {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.subtlelink {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.subtlelink:hover {
    text-decoration: underline;
}

.horizontal-scroll-button {
    width: 60px;
    height: 60px;
    background-color: white;
    position: absolute;
    margin-top: 80px;
    z-index: 1 !important;
    border-radius: 999px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: all .2s ease-in-out;
    cursor: pointer;
    text-align: center;
}

.horizontal-scroll-button#right{
    right: 20px;
}

.horizontal-scroll-button#left{
    left: 20px;
}

.right-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg) translate(-50%, -50%);
    -webkit-transform: rotate(-45deg) translate(-50%, -50%);
    margin-top: 50%;
}